@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}


/* .skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
} */

/* .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
} */

/* .skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
} */

/* .skillImageContainer img {
  width: 75px;
} */

/* .skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
} */

.img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.imgIcon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position:outside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}


.date{
  color: rgb(201, 251, 255);
  font-size: 2rem !important;
  margin-left: 20px;
  margin-right: 20px;
}

/* @media screen and (max-width: 830px) {

} */